.logo {
    aspect-ratio: 2.5;
    height: 4rem;
    display: flex;
    align-items: end;

    img {
        width: 100%;
        height: 100%;
    }
}

.clockContainer {
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 2rem;

    margin: 5rem auto 0;

    p {
        font-size: x-large;
        transform: skewX(-15deg);
        font-weight: 900;
    }
}

.sleepButton {
    user-select: none;
    display: block;
    width: 15rem;
    height: 15rem;
    padding: 1rem 2rem;
    border-radius: 100%;
    transition: transform 250ms cubic-bezier(.47, .02, .5, 1.5);


    margin: 5rem auto 0;

    &:active {
        transform: scale(0.95);
    }

    p {
        font-size: xx-large;
        transform: skewX(-15deg);
        font-weight: 900;
        color: aliceblue;
    }
}