.page {
    height: 100vh;
    background: #020024;
    background: linear-gradient(19deg, rgba(2, 0, 36, 1) 0%, rgb(35, 2, 58) 35%, rgb(18, 0, 39) 100%);
}

.nav {
    width: calc(100% - 2rem);
    height: 5rem;

    margin: 1rem;
    border-radius: 1.5rem;

    position: absolute;
    bottom: 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    button {
        color: aliceblue;
        background: none;
        border: none;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0.25rem;

        svg {
            height: 1.5rem;
            width: 1.5rem;
        }

        p {
            font-weight: 500;
        }
    }
}