.statsTitle {
    height: 4rem;
    display: flex;
    align-items: end;

    p {
        text-shadow: 0px 4px 2px black;
        font-size: xx-large;
        transform: skewX(-12.5deg);
        letter-spacing: 1px;
        font-weight: 900;
        color: aliceblue;
    }
}

.grid {
    height: calc(100% - 10.875rem - 1px);
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    grid-template-rows: 0.325fr 0.3fr 0.375fr;
    gap: 0.7rem;
    margin: 1rem 0rem;

    .hoursSlept {
        grid-column: 2 span;
    }

    .averages {}

    .sessionDetails {}

    .sleepSessions {
        grid-column: 2 span;
    }
}

.hoursSleptContent {
    --barCount: 7;
    padding: 1rem;
    height: 100%;

    .title {
        height: 3rem;
    }

    .barChart {
        display: grid;
        grid-template-columns: repeat(var(--barCount), 1fr);

        margin-top: 1.5rem;
        height: calc(100% - 1rem - 3rem - 0.5rem - 1.5rem);

        .barItem {
            width: 60%;
            justify-self: center;
            align-self: end;
            background-color: #d5d4d4;
            border-radius: 0.25rem 0.25rem 0 0;
            position: relative;

            p {
                position: absolute;
                bottom: calc(100% + 0.25rem);
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    .xAxis {
        display: grid;
        grid-template-columns: repeat(var(--barCount), 1fr);

        .axisText {
            padding-top: 0.5rem;
            border-top: hsl(0, 0%, 26%) 1pt solid;
            color: hsl(0, 0%, 26%);
            position: relative;
            font-weight: 500;

            &::after {
                position: absolute;
                content: "";
                bottom: 100%;
                left: 0;
                border-left: hsl(0, 0%, 26%) 1pt solid;
                width: 100%;
                height: 0.75rem;
            }
        }
    }
}

.averagesContent {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;

    h2 {
        color: #66cc66;
        font-size: x-large;
        font-weight: 900;
        transform: skewX(-12.5deg);
    }
}

.sessionDetailsContent {
    padding: 1rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;

    .duration {
        color: #cc6969;
    }

    .sessionBar {
        --alternate-time-pos: 50%;
        --duration-pos: 70%;

        height: 2rem;
        width: 100%;
        background-color: #ffde76;
        border-radius: 1rem;
        position: relative;

        .alternateTime {
            position: absolute;
            left: calc(var(--alternate-time-pos) / 2);
            top: 50%;
            transform: translateY(-50%);

            height: 2rem;
            width: 50%;

            background-color: #0b0b0b;
            border-radius: 1rem;
            border: #434343 solid 1pt;
        }

        .duration {
            position: absolute;
            left: calc(var(--duration-pos) / 2);
            top: 50%;
            transform: translateY(-50%);

            height: 0.25rem;
            width: 50%;

            background-color: #2d819b;
            border-radius: 1rem;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);

                height: 0.75rem;
                width: 0.25rem;

                background-color: #2d819b;
                border-radius: 1rem;
            }

            &::after {
                content: "";
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);

                height: 0.75rem;
                width: 0.25rem;

                background-color: #2d819b;
                border-radius: 1rem;
            }
        }
    }
}